target
*.iml
*.ipr
*.iws
*.log
.idea
.project
.classpath
.settings
.checkstyle
.metadata
.clover
*.DS_Store
rebel.xml
rebel-remote.xml
.rebel.xml.bak
.rebel-remote.xml.bak

magnolia-ui-vaadin-common-widgets/src/main/java/com/vaadin/ui
magnolia-ui-vaadin-common-widgets/src/main/java/com/vaadin/client
magnolia-ui-vaadin-common-widgets/src/main/java/com/vaadin/v7/
magnolia-ui-vaadin-common-widgets/src/main/java/org/vaadin/openesignforms
magnolia-ui-vaadin-common-widgets/src/main/java/com/google/
magnolia-ui-vaadin-common-widgets/src/main/java/com/googlecode/
magnolia-ui-vaadin-common-widgets/src/main/java/org/
magnolia-ui-vaadin-common-widgets/src/main/java/META-INF/

magnolia-*-theme/src/main/resources/VAADIN/themes/*/styles.css
